.top-left {
	position: fixed;
	top: 1px;
	left: 1px;
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	border: none;
}

.hidden {
	position: absolute;
	left: -9999px;
}

#qunit-fixture.visible {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	text-indent: 0;
}

.qunit-fixture {
	padding: 10px;
	margin-top: 20px;
	background: #eaeaea;
}
